*.ipch
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
09_task/09_task/Debug/rc.write.1.tlog
09_task/09_task/Debug/vc100.idb
09_task/09_task/Debug/rc.read.1.tlog
*.tlog
*.rc
09_task/09_task/Debug/09_task.exe.intermediate.manifest
09_task/09_task/Debug/09_task.lastbuildstate
09_task/09_task/Debug/09_task.exe.embed.manifest.res
09_task/09_task/Debug/09_task.exe.embed.manifest
